<h2>Welcome To The Student View!</h2>
<p>Users should be able to see a list of students information in a table and another table of notes, similar to the rotten potatoes app table. Sorting and filtering would be nice at some point.</p>

%h2 Student View

%table#students.table.table-striped.col-md-12
  %thead
    %tr
      %th Last Name
      %th First Name
      %th Graduation Year
      %th CWID
      %th Academid Advisor
      %th Last Meeting
  %tbody
    %tr
      - @students.each do |student|
        %td= link_to "#{student.last_name}", student_path(student)
        %td= student.first_name
        %td= student.graduation_year
        %td= student.cwid
        %td= student.academic_advisor
        %td= student.last_meeting

%h2 Note View

- @meetings.each do |meeting|
  %table#meetings.table.table-striped.col-md-12
    %thead
      %tr
        %th Date
        %th Notes
    %tbody
      %tr      
        %td= meeting.date
        %td= meeting.notes
        